$navbar-dark-color: white !default;
$navbar-dark-brand-color:white !default;
$navbar-padding-y: 20px !default;
$navbar-padding-x: 20px !default;
$navbar-toggler-focus-width: 1 !default;

$menu-item-active: #D9D9D9 !default;
$menu-item-hover: #EEEEEE !default;
$menu-item-active-mobile: #b83c34 !default;
$menu-item-color: black !default;
$menu-item-color-mobile: white !default;
$button-color-active: #b83c34 !default;

$primary: #A10702 !default;
$primary-hover: #b83c34 !default;
$primary-active: #b83c34 !default;
$primary-opaque:#6E0501 !default;
$secondary: #b83c34 !default;
$secondary-hover: #b83c34 !default;
$danger: #DC3545 !default;
$success: #198754 !default;
$black-25: #252525 !default;
$white: #FFFFFF !default;
$border-grey: #656565 !default;
$sidebar: #A10702 !default;
$placeholder:#CACACA !default;
$disabled-placeholder:#909090 !default;

:root {

 /* BUTTON PRIMARY */
  --button-primary-bg: $primary;
  --button-primary-color: $white;
  --button-primary-border-color: $primary;

  --button-primary-bg-active: $primary-hover;
  --button-primary-color-active: $white;
  --button-primary-border-color-active: $primary-hover;

  --button-primary-bg-hover: $primary-hover;
  --button-primary-color-hover: $white;
  --button-primary-border-color-hover: $primary-hover;

  --button-primary-border: 1px solid $primary;
  --button-primary-border-radius: 8px;
  --button-primary-border-width: 1px;

  --button-primary-font-size: 1rem;
  --button-primary-display: flex;
  --button-primary-justify-content: center;
  --button-primary-width: 7.75rem;
  --button-primary-height: 2.75rem;

  --button-primary-padding: 0.75rem 1.5rem;
  --button-primary-padding-top: 0.75rem;
  --button-primary-padding-bottom: 0.75rem;
  --button-primary-padding-left: 1.5rem;
  --button-primary-padding-right: 1.5rem;

  --button-primary-margin: 0;
  --button-primary-margin-top: 0;
  --button-primary-margin-bottom: 0;
  --button-primary-margin-left: 0;
  --button-primary-margin-right: 0;

  /* BUTTON SECONDARY */
  --button-secondary-bg: $secondary;
  --button-secondary-color: $black-25;
  --button-secondary-border-color: $secondary;

  --button-secondary-bg-active: $secondary-hover;
  --button-secondary-color-active: $black-25;
  --button-secondary-border-color-active: $secondary-hover;

  --button-secondary-bg-hover: $secondary-hover;
  --button-secondary-color-hover: $black-25;
  --button-secondary-border-color-hover: $secondary-hover;

  --button-secondary-border: 1px solid $secondary;
  --button-secondary-border-radius: 8px;
  --button-secondary-border-width: 1px;

  --button-secondary-font-size: 1rem;
  --button-secondary-display: flex;
  --button-secondary-justify-content: center;
  --button-secondary-width: 7.75rem;
  --button-secondary-height: 2.75rem;

  --button-secondary-padding: 0.75rem 1.5rem;
  --button-secondary-padding-top: 0.75rem;
  --button-secondary-padding-bottom: 0.75rem;
  --button-secondary-padding-left: 1.5rem;
  --button-secondary-padding-right: 1.5rem;

  --button-secondary-margin: 0;
  --button-secondary-margin-top: 0;
  --button-secondary-margin-bottom: 0;
  --button-secondary-margin-left: 0;
  --button-secondary-margin-right: 0;


  /* BUTTON OUTLINE PRIMARY */
  --button-primary-outline-bg: $white;
  --button-primary-outline-color: $primary;
  --button-primary-outline-border-color: $primary;

  --button-primary-outline-bg-active: $white;
  --button-primary-outline-color-active: $primary;
  --button-primary-outline-border-color-active: $primary;

  --button-primary-outline-bg-hover: $white;
  --button-primary-outline-color-hover: $primary;
  --button-primary-outline-border-color-hover: $primary;

  --button-primary-outline-border: 1px solid $primary;
  --button-primary-outline-border-radius: 8px;
  --button-primary-outline-border-width: 1px;

  --button-primary-outline-font-size: 1rem;
  --button-primary-outline-display: flex;
  --button-primary-outline-justify-content: center;
  --button-primary-outline-width: 7.75rem;
  --button-primary-outline-height: 2.75rem;

  --button-primary-outline-padding: 0.75rem 1.5rem;
  --button-primary-outline-padding-top: 0.75rem;
  --button-primary-outline-padding-bottom: 0.75rem;
  --button-primary-outline-padding-left: 1.5rem;
  --button-primary-outline-padding-right: 1.5rem;

  --button-primary-outline-margin: 0;
  --button-primary-outline-margin-top: 0;
  --button-primary-outline-margin-bottom: 0;
  --button-primary-outline-margin-left: 0;
  --button-primary-outline-margin-right: 0;


  /* BUTTON DISABLED */
  --button-disabled-bg: $secondary;
  --button-disabled-color: $white;
  --button-disabled-border-color: $secondary;

  --button-disabled-bg-active: $secondary;
  --button-disabled-color-active: $white;
  --button-disabled-border-color-active: $secondary;

  --button-disabled-bg-hover: $secondary;
  --button-disabled-color-hover: $white;
  --button-disabled-border-color-hover: $secondary;

  --button-disabled-bg-disabled: $secondary;
  --button-disabled-color-disabled: $white;
  --button-disabled-border-color-disabled: $secondary;

  --button-disabled-border: 1px solid $primary;
  --button-disabled-border-radius: 8px;
  --button-disabled-border-width: 1px;

  --button-disabled-font-size: 1rem;
  --button-disabled-display: flex;
  --button-disabled-justify-content: center;
  --button-disabled-width: 7.75rem;
  --button-disabled-height: 2.75rem;

  --button-disabled-padding: 0.75rem 1.5rem;
  --button-disabled-padding-top: 0.75rem;
  --button-disabled-padding-bottom: 0.75rem;
  --button-disabled-padding-left: 1.5rem;
  --button-disabled-padding-right: 1.5rem;

  --button-disabled-margin: 0;
  --button-disabled-margin-top: 0;
  --button-disabled-margin-bottom: 0;
  --button-disabled-margin-left: 0;
  --button-disabled-margin-right: 0;


  /* BUTTON ONLY TEXT */
  --button-only-text-bg: $transparent;
  --button-only-text-color: $primary;
  --button-only-text-border-color: $transparent;

  --button-only-text-bg-active: $transparent;
  --button-only-text-color-active: $primary-hover;
  --button-only-text-border-color-active: $transparent;

  --button-only-text-bg-hover: $transparent;
  --button-only-text-color-hover: $primary-hover;
  --button-only-text-border-color-hover: $transparent;

  --button-only-text-border: 1px solid $transparent;
  --button-only-text-border-radius: 8px;
  --button-only-text-border-width: 1px;

  --button-only-text-font-size: 1rem;
  --button-only-text-text-decoration: underline;
  --button-only-text-display: flex;
  --button-only-text-justify-content: center;
  --button-only-text-width: 7.75rem;
  --button-only-text-height: 2.75rem;
  --button-only-text-cursor: pointer;

  --button-only-text-padding: 0.75rem 1.5rem;
  --button-only-text-padding-top: 0.75rem;
  --button-only-text-padding-bottom: 0.75rem;
  --button-only-text-padding-left: 1.5rem;
  --button-only-text-padding-right: 1.5rem;

  --button-only-text-margin: 0;
  --button-only-text-margin-top: 0;
  --button-only-text-margin-bottom: 0;
  --button-only-text-margin-left: 0;
  --button-only-text-margin-right: 0;

}

